<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Криптовалюты</title>
	<link rel="stylesheet" href="./dist/bundle.css">
</head>
<body>

<div class="container" id="app">
	<div class="row">
		<div class="col justify-content-center d-flex">
			<h1 class="display-4"> Криптовалюты</h1>
		</div>
	</div>
	<div class="row">
		<div class="col justify-content-center d-flex">
			<div class="loader d-inline-block" v-if="showPreloader"></div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a
						class="list-group-item"
						role="tab"
						v-for="currency in currencies"
						v-if="currency.is_active"
						@click="getCurrency(currency.id)"
				>
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">{{currency.name}}</h5>
						<small class="text-success" v-if="currency.is_new">Новинка!</small>
					</div>
					<small>{{currency.symbol}}</small>
					<p class="mb-1">{{currency.type}}</p>
				</a>
			</div>
		</div>
		<div class="col-8">
			<div class="currency-info position-sticky" style="top: 0; max-height: 100vh; overflow-y: scroll">
				<div class="loader" v-if="currencyInfoPreloader"></div>
				<div class="card col-11" v-if="showCard">
					<div class="card-body">
						<h5 class="card-title">{{currentCurrency.name}}</h5>
						<p class="card-text" v-if="currentCurrency.started_at">
							<small>
								Дата создания:&nbsp;{{new Date(currentCurrency.started_at).toDateString()}}
							</small>
						</p>
						<h6 class="card-subtitle mb-2 text-muted">{{currentCurrency.description}}</h6>
						<p class="card-text">{{currentCurrency.development_status}}</p>
						<p class="card-text"><b>Алгоритм шифрования:</b>&nbsp;{{currentCurrency.hash_algorithm}}</p>
						<p class="card-text"><b>Качество монеты:</b>&nbsp;{{currentCurrency.proof_type}}</p>
						<p class="card-text"><b>Место в рейтинге:</b>&nbsp;{{currentCurrency.rank}}</p>
						<details v-if="currentCurrency.team.length > 0">
							<summary>Показать создателей...</summary>
							<p v-for="member in currentCurrency.team">
								<b>{{member.name}}:</b>&nbsp;{{member.position}}
							</p>
						</details>
						<a
								:href="currentCurrency.whitepaper.link"
								target="_blank"
								class="btn btn-outline-dark mt-2"
						>Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="./dist/bundle.js"></script>
</body>
</html>